input {
  padding: 0.2rem 0.3rem;
  border: 1px solid;
  border-radius: 0.4rem;
  background: var(--vp-c-bg);
}

select {
  padding: 0.2rem 0.3rem;
  border: 1px solid;
  border-radius: 0.4rem;
  background: var(--vp-c-bg);
}

select option {
  background: var(--vp-c-bg);
}
